import "hash"
 
rule {{ .RuleName }}
{
    meta:
        author = "{{ .Author }}"
        date = "{{ .Date }}"
        description = "{{ .Description }}"
        modified = "{{ .Date }}"
    strings:
    {{ range $key, $value := .Hexes }}
        $s{{ $key }} = { {{ $value }} }
    {{ end }}
    condition:
        all of them and
        hash.md5(0, filesize) == "{{.Hash}}"
}
