import "hash"
 
rule {{ .RuleName }} : {{ .Description }}
{
    meta:
        author = "{{ .Author }}"
        date = "{{ .Date }}"
        description = "An example YARA rule for gping - https://github.com/orf/gping/releases/download/gping-v1.12.0/gping-Linux-x86_64.tar.gz"
        modified = "{{ .Date }}"
    strings:
    {{ range $key, $value := .Hexes }}
        $s{{ $key }} = { {{ $value }} }
    {{ end }}
    condition:
        all of them and
        filesize < 10MB and
        hash.md5(0, filesize) == "{{.Hash}}"
}
